.body {
    display: flex;
    border-right: 1px solid rgb(139, 139, 139);
}

.container {
    display: flex;
    flex-direction: column;
    width: 96px;
    height: 96vh;
    justify-content: start;
    align-items: center;
    margin: 2vh 0;
}

.item {
    width: 48px;
    height: 48px;
    text-align: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.426);
    border-radius: 8px;
    user-select: none;
}