.body {
    position: relative;
    width: 100%;
    height: 100%;
}

.layout {
    overflow: auto;    
    position: absolute;
    inset: 0;
}

.field {
    position: absolute;
}

.grid {
    display: grid;
    touch-action: none;
    border-radius: 10px;

    width: max-content;
    height: max-content;
    grid-template-columns: repeat(var(--gridColumns), var(--cellSize));
    grid-template-rows: repeat(var(--gridRows), var(--cellSize));

    border: 2px solid #ccc;

    gap: var(--gridGap);
    padding: calc(var(--gridGap) / 2);
}

.cell {
    border-radius: 10px;
    width: var(--cellSize);
    height: var(--cellSize);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cell {
  box-shadow: 0 0 0 0px #ccc;
  transition: box-shadow 200ms;
}

.cell.highlighted {
  box-shadow: 0 0 0 2px #ccc;
}