.body {
    position: relative;
    width: 100%;
    height: 100%;
}

.layout {
    overflow: auto;    
    position: absolute;
    inset: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--gridColumns), var(--cellSize));
    grid-template-rows: repeat(var(--gridRows), var(--cellSize));
    gap: var(--gridGap);
    padding: calc(var(--gridGap) / 2);
    width: 100%;
    height: 50%;
    align-content: center;
    justify-content: center;
}

.cell {
    border: 1px solid #ccc;
    width: var(--cellSize);
    height: var(--cellSize);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}